
.home_container{
    display: flex;
}

.left_bar, .right_bar,.details_bar{

    transition: all .3s ease-out;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    position: absolute;
    top: 1px;
    bottom: 0;
}

.left_bar{
    width: 20%;
}

.right_bar{
    width: 40%;
    background-color: #fffbf0;
  position: absolute;
  left: 25%;
  right: 0;
  padding: 20px;
  /* height: calc(100vh - 45px); */
}
.details_bar{
    width: 35%;
    background-color: #fffbf0;
  position: absolute;
  right: 0;
  /* right: 0; */
  padding: 20px;
}

.pakeges_aside{

        position: relative;
        height: 100px;
        width: 220px;
        background-color: #57b3dd;
        padding: 5px;
        border: 1px solid gray;
        border-radius: 10px;
        margin-top: 10px;
        margin-left: 10px;
       
        transform: perspective(75em) rotateX(18deg);
        box-shadow: rgba(22, 31, 39, 0.42) 0px 60px 123px -25px,
                    rgba(19, 26, 32, 0.08) 0px 35px 75px -35px;
        border-radius: 10px;
        border: 1px solid;
        /* border-color: rgb(213, 220, 226) rgb(213, 220, 226) rgb(184, 194, 204); */
        cursor: move;
        cursor: grab;
        cursor: -moz-grab;
        cursor: -webkit-grab;
   
}

.truck{
    height: 300px;
    width:300px;
    /* position: relative; */
    display: flex;
    flex-direction: column;
}


.details-image{
    height:300px ;
    width: 60%;
    margin: 10px auto;
    display: flex;
    justify-content: center;

}

.details-list{
    text-align: center;
    width: 90%;
    margin: 10px;
    /* display: flex; */
    /* justify-content: space-between; */
}

.list-td{
    padding: 5px;
    /* background-color: yellow; */
    /* border: 1px solid black; */
}


.details-head{
    text-align: center;
    position: relative;
}
.details-head::after{
position: absolute;
content: '';
height: 3px;
width: 90%;
background-color: black;
right: 5%;
}